<!DOCTYPE html>
<html lang="ja">
   <head>
      <meta charset="utf-8">
      <title>Stress Predict App Result</title>
      <style>
         #wrapper {
            text-align: center;
         }
      </style>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   </head>

      <div id="wrapper">
         {% for message in form.goingoutLength.errors %}
            <div>{{ message }}</div>
         {% endfor %}
         {% for message in form.cookingLength.errors %}
            <div>{{ message }}</div>
         {% endfor %}
         {% for message in form.eatingLength.errors %}
            <div>{{ message }}</div>
         {% endfor %}
         {% for message in form.bathingLength.errors %}
            <div>{{ message }}</div>
         {% endfor %}
         {% for message in form.sleepingLength.errors %}
            <div>{{ message }}</div>
         {% endfor %}
         {% for message in form.otherLength.errors %}
            <div>{{ message }}</div>
         {% endfor %}

         <p style="text-align: center;">
            ID{{ idDay }}<br>
            入眠時間 {{ sleepHourStart }}時 {{ sleepMinStart }}分（24時間表記）<br>            
            起床時間 {{ sleepHourEnd }}時 {{ sleepMinEnd }}分（24時間表記）<br>
         </p>

         <form action="result" method="POST">
            <table align="center" border="1" >
               <tr><th>行動の種類</th><th>過去の行動時間</th><th>今後の行動時間</th></tr>
               <tr><td> 睡眠 </td><td>外出4時間</td><td>{{ form.goingoutLength }}時間 </td></tr>
               <tr><td> 外出 </td><td>料理1時間</td><td>{{ form.cookingLength }}時間 </td></tr>
               <tr><td>料理</td><td>食事2時間</td><td>{{ form.eatingLength }}時間 </td></tr>
               <tr><td>食事</td><td>入浴1時間</td><td>{{ form.bathingLength }}時間 </td></tr>
               <tr><td>睡眠</td><td>睡眠0時間</td><td>{{ form.sleepingLength }}時間 </td></tr>
               <tr><td>その他</td><td>その他4時間</td><td>{{ form.otherLength }}時間 </td></tr>
               <tr><td></td><td colspan="2">この予定は</td></tr>
            </table>
            <br>
            {{ form.submit }}
         </form>
      </div>