<!DOCTYPE html>
<html lang="ja">
   <head>
      <meta charset="utf-8">
      <title>Stress Predict App</title>
      <style>
         #wrapper {
            text-align: center;
         }
      </style>
   </head>
      <div id="wrapper">
         {% for message in form.goingoutLength.errors %}
            <div>{{ message }}</div>
         {% endfor %}
         {% for message in form.cookingLength.errors %}
            <div>{{ message }}</div>
         {% endfor %}
         {% for message in form.eatingLength.errors %}
            <div>{{ message }}</div>
         {% endfor %}
         {% for message in form.bathingLength.errors %}
            <div>{{ message }}</div>
         {% endfor %}
         {% for message in form.sleepingLength.errors %}
            <div>{{ message }}</div>
         {% endfor %}
         {% for message in form.otherLength.errors %}
            <div>{{ message }}</div>
         {% endfor %}

         <form method="post">
            <table align="center" border="1" >
               <tr><th>行動の種類</th><th>過去の行動時間</th><th>今後の行動時間</th></tr>
               <tr><td>{{ form.goingoutLength.label }}</td><td>外出</td><td>{{ form.goingoutLength }}</td></tr>
               <tr><td>{{ form.cookingLength.label }}</td><td>料理</td><td>{{ form.cookingLength }}</td></tr>
               <tr><td>{{ form.eatingLength.label }}</td><td>食事</td><td>{{ form.eatingLength }}</td></tr>
               <tr><td>{{ form.bathingLength.label }}</td><td>入浴</td><td>{{ form.bathingLength }}</td></tr>
               <tr><td>{{ form.sleepingLength.label }}</td><td>睡眠</td><td>{{ form.sleepingLength }}</td></tr>
               <tr><td>{{ form.otherLength.label }}</td><td>その他</td><td>{{ form.otherLength }}</td></tr>
               <tr>
                  <td>
                  </td>
                  <td colspan="2">これは  です</td>
               </tr>
            </table>
            <br>
            {{ form.submit }}
         </form>
      </div>